<!DOCTYPE html>
<html>
<head>
<title>Event Management</title>
<link rel="stylesheet" href="css/registerForm.css" type="text/css">
<link rel="stylesheet" href="css/common.css" type="text/css">
</head>

<body>
<header> 
          
 <nav id="nav" class="menuBar"></nav>
</header> 
	<div class="wrapper">
		<div id="innerDiv" class="inner">
			<h1>Ticket Details</h1>

			<div class="form-wrapper">
					<input type="text" id="ticketNo" placeholder="Ticket Number to verify" required="required" class="form-control" />
				</div>
				
			<button id=verify class="button">Verify</button>
		</div>



	</div>



<script src="/js/verifyTicket.js"></script>
<script src="/js/menu.js"></script>
</body>
</html>